<!DOCTYPE html>
<html>
<head>
	<title>sample</title>
	<link rel="stylesheet" type="text/css" href="sample.css">
	<style>
		h2{color:green;}
	</style>
</head>
<body>
	<h1>BVC COLLEGE </h1>
	<h1>Harish</h1>
	<h1 id="s">KRISHNA</h1>
	<h1 class = "same">BVC ODALAREVU</h1>
	<h2>BVC COLLEGE </h2>
	<h3 class = "same">BVC COLLEGE </h3>
	<h4>BVC COLLEGE </h4>
	<h5 class = "same">BVC COLLEGE </h5>
	<h6>BVC COLLEGE </h6>
	<h7 class = "same">BVC COLLEGE </h7>
	<p>BVC COLLEGE </p>

</body>
</html>