<!DOCTYPE html>
<html>
<head>
	<title>REGISTER</title>
	<link rel="stylesheet" type="text/css" href="sample.css">
	<style>
		h3{
			text-align:right;
			text-decoration-color: blue;
		}
	</style>
</head>
<body>
	<marquee><h1>WELCOME TO BVC GROUP </h1></marquee>
	<center>STUDENT REGISTRATION</center>
	<h2>Name   :<input type ="text"></h2>
	<h2>Surname:<input type ="text"></h2>
	<h2>E-mail :<input type ="email"></h2>
	<h2>Mobile :<input type ="number"></h2>
	<h2>Branch :<input type ="text"></h2>
	<h2>Year   :<input type ="text"></h2>
	<h3><button>REGISTER</button></h3>
	<h3><button>SAVE</button></h3>
	</body>
</html>